/* done by Mahdiyar */
body {
  background-image: url("ThirstyBabyishHusky-size_restricted.gif");
  background-repeat: no-repeat;
  background-size: cover;
  animation: infinite;
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
}


label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}


input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}


button {
  background-color: #008CBA;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


button:hover {
  background-color: #006080;
}

